In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

## Import Data
<p>
Import data from csv and print head of df
<p>
Data dictionary in repo.

In [3]:
df = pd.read_csv('ISM647_ML1_data.csv')

df.head(10)

,AcctAge,DDA,DDABal,CashBk,Checks,DirDep,NSF,NSFAmt,Phone,Teller,...,CRScore,Moved,InArea,Ins,Branch,Res,Dep,DepAmt,Inv,InvBal
0,0.3,1,419.27,0,0,0,0,0.00,0.0,0,...,696.0,0,1,1,B17,R,2,1170.06,0.0,0.0
1,0.7,1,1986.81,0,1,1,0,0.00,0.0,0,...,674.0,0,1,0,B2,R,1,446.93,0.0,0.0
2,4.1,0,0.00,0,0,0,0,0.00,0.0,0,...,640.0,0,1,1,B3,S,0,0.00,0.0,0.0
3,0.5,1,1594.84,0,1,0,0,0.00,0.0,1,...,672.0,0,1,0,B1,S,1,1144.24,0.0,0.0
4,6.7,1,2813.45,0,2,0,0,0.00,0.0,5,...,648.0,0,1,1,B1,S,2,1208.94,0.0,0.0
5,12.3,1,1069.78,0,13,1,0,0.00,2.0,9,...,662.0,0,1,1,B7,U,5,6813.58,0.0,0.0
6,8.8,1,1437.57,0,12,1,0,0.00,0.0,0,...,659.0,0,1,0,B1,U,2,2237.69,0.0,0.0
7,9.3,1,1683.28,0,2,1,0,0.00,0.0,0,...,675.0,0,1,1,B5,U,3,795.85,0.0,0.0
8,0.8,1,190.03,0,1,0,1,5.65,NaN,0,...,642.0,0,1,0,B14,S,3,880.25,NaN,NaN
9,0.9,1,462.12,0,4,0,0,0.00,0.0,2,...,667.0,0,1,1,B6,S,2,1049.57,0.0,0.0

## Inspect the Data: Dataframe Info 

32264 records with 48 features

In [39]:
# create function to describe numeric data to include the number of nulls and data type

def describe_with_nulls_and_dtype(num_df):
    # Get the basic description.
    description = num_df.describe(include='all').T  # Transpose for better readability
    
    # Calculate the number of nulls for each column.
    null_counts = num_df.isnull().sum()
    
    # Get the data types of each column.
    dtypes = num_df.dtypes
    
    # Add the null counts and data types to the description.
    description['nulls'] = null_counts
    description['dtype'] = dtypes

    # Sort by data type, then by number of nulls.
    description = description.sort_values(['dtype', 'nulls'], ascending=[True, False])

    # add percentage of nulls to the description
    description['percent_null'] = description['nulls'] / num_df.shape[0]

    # add the variance to the description
    description['variance'] = num_df.var().astype('int64')
    
    return description

### Statistical values for integer as categorical features

In [40]:
# select int columns used as categorical features
int_cat_features = df.select_dtypes(include=['int64'])
int_cat_features = int_cat_features.loc[:, int_cat_features.nunique() == 2]

# print statistical summary of the data for numerical features
describe_with_nulls_and_dtype(int_cat_features)

,count,mean,std,min,25%,50%,75%,max,nulls,dtype,percent_null,variance
DDA,32264.0,0.815646,0.387779,0.0,1.0,1.0,1.0,1.0,0,int64,0.0,0
DirDep,32264.0,0.295562,0.456302,0.0,0.0,0.0,1.0,1.0,0,int64,0.0,0
NSF,32264.0,0.087063,0.281932,0.0,0.0,0.0,0.0,1.0,0,int64,0.0,0
Sav,32264.0,0.466898,0.498911,0.0,0.0,0.0,1.0,1.0,0,int64,0.0,0
ATM,32264.0,0.609937,0.487772,0.0,0.0,1.0,1.0,1.0,0,int64,0.0,0
CD,32264.0,0.125837,0.331671,0.0,0.0,0.0,0.0,1.0,0,int64,0.0,0
IRA,32264.0,0.053279,0.224593,0.0,0.0,0.0,0.0,1.0,0,int64,0.0,0
LOC,32264.0,0.063383,0.243655,0.0,0.0,0.0,0.0,1.0,0,int64,0.0,0
ILS,32264.0,0.049591,0.217102,0.0,0.0,0.0,0.0,1.0,0,int64,0.0,0
MM,32264.0,0.114896,0.318901,0.0,0.0,0.0,0.0,1.0,0,int64,0.0,0
MTG,32264.0,0.049343,0.216586,0.0,0.0,0.0,0.0,1.0,0,int64,0.0,0
SDB,32264.0,0.108666,0.311225,0.0,0.0,0.0,0.0,1.0,0,int64,0.0,0
Moved,32264.0,0.029631,0.169568,0.0,0.0,0.0,0.0,1.0,0,int64,0.0,0
InArea,32264.0,0.960296,0.195265,0.0,1.0,1.0,1.0,1.0,0,int64,0.0,0
Ins,32264.0,0.346361,0.475817,0.0,0.0,0.0,1.0,1.0,0,int64,0.0,0

### Statistical values for non-categorical numeric features

In [41]:
# select numeric columns not included in the int_cat_features
num_features = df.select_dtypes(include=['int64', 'float64'])
num_features = num_features.loc[:, num_features.nunique() > 2]

# print statistical summary of the data for numerical features
describe_with_nulls_and_dtype(num_features)

,count,mean,std,min,25%,50%,75%,max,nulls,dtype,percent_null,variance
CashBk,32264.0,0.015962,0.131368,0.00,0.00,0.000,0.0000,4.00,0,int64,0.000000,0
Checks,32264.0,4.259918,5.156643,0.00,0.00,2.000,7.0000,49.00,0,int64,0.000000,26
Teller,32264.0,1.365268,2.283765,0.00,0.00,0.000,2.0000,27.00,0,int64,0.000000,5
CDBal,32264.0,2530.709150,14811.780979,0.00,0.00,0.000,0.0000,1053900.00,0,int64,0.000000,219388855
MMCred,32264.0,0.056379,0.287484,0.00,0.00,0.000,0.0000,5.00,0,int64,0.000000,0
Dep,32264.0,2.134608,1.721797,0.00,1.00,2.000,3.0000,28.00,0,int64,0.000000,2
Age,25907.0,47.928321,14.110848,16.00,38.00,48.000,58.0000,94.00,6357,float64,0.197031,199
Income,26482.0,40.588928,28.514979,0.00,20.00,35.000,55.0000,233.00,5782,float64,0.179209,813
LORes,26482.0,7.005664,2.838015,0.50,4.50,6.500,9.0000,19.50,5782,float64,0.179209,8
HMVal,26482.0,110.912129,21.949921,67.00,98.00,107.000,120.0000,754.00,5782,float64,0.179209,481
Phone,28131.0,0.405602,1.199480,0.00,0.00,0.000,0.0000,30.00,4133,float64,0.128099,1
POS,28131.0,1.075682,2.888679,0.00,0.00,0.000,0.0000,54.00,4133,float64,0.128099,8
POSAmt,28131.0,48.926178,137.050439,0.00,0.00,0.000,0.0000,3293.49,4133,float64,0.128099,18782
CCBal,28131.0,9586.552483,81383.949453,-2060.51,0.00,0.000,400.9850,10641354.78,4133,float64,0.128099,6623347228
CCPurc,28131.0,0.154172,0.447387,0.00,0.00,0.000,0.0000,5.00,4133,float64,0.128099,0
InvBal,28131.0,1599.170615,56940.126674,-2214.92,0.00,0.000,0.0000,8323796.02,4133,float64,0.128099,3242178025
AcctAge,30194.0,5.908677,6.522804,0.30,1.90,3.900,6.8000,61.50,2070,float64,0.064158,42
CRScore,31557.0,666.493520,40.413238,509.00,639.00,667.000,694.0000,820.00,707,float64,0.021913,1633
DDABal,32264.0,2170.016712,7282.726998,-774.83,59.94,571.820,1834.2325,278093.83,0,float64,0.000000,53038112
NSFAmt,32264.0,2.290546,14.363677,0.00,0.00,0.000,0.0000,666.85,0,float64,0.000000,206
SavBal,32264.0,3170.603687,13397.146902,0.00,0.00,0.000,1215.8150,700026.94,0,float64,0.000000,179483545
ATMAmt,32264.0,1235.414658,4462.281901,0.00,0.00,136.275,1202.7975,427731.26,0,float64,0.000000,19911959
IRABal,32264.0,617.570455,7516.564820,0.00,0.00,0.000,0.0000,596497.60,0,float64,0.000000,56498746
LOCBal,32264.0,1175.219354,9605.284463,-613.00,0.00,0.000,0.0000,523147.24,0,float64,0.000000,92261489
ILSBal,32264.0,517.569234,2285.187054,0.00,0.00,0.000,0.0000,29162.79,0,float64,0.000000,5222079
MMBal,32264.0,1875.763193,5484.479566,0.00,0.00,0.000,0.0000,120801.11,0,float64,0.000000,30079516
MTGBal,32264.0,8081.735990,79794.115516,0.00,0.00,0.000,0.0000,10887573.28,0,float64,0.000000,6367100871
DepAmt,32264.0,2232.760183,6704.292297,0.00,149.65,1103.620,2439.5300,484893.67,0,float64,0.000000,44947535

### Inspect string values used as categorical features.

In [42]:
def print_string_feature_values(df):
    # select string features
    string_features = df.select_dtypes(include=['object', 'string'])

    # print values for each of the string features
    for column in string_features:
        print(string_features[column].value_counts())
        print("\n")
    
    # print the number of nulls for each of the string features
    print('Number of nulls for each string feature:')
    print(string_features.isnull().sum())

    # print the percentage of nulls for each of the string features
    print('Percentage of nulls for each string feature:')
    print(string_features.isnull().sum() / string_features.shape[0])

In [35]:
# call the function on the dataframe
print_string_feature_values(df)

Branch
B4     5633
B2     5345
B3     2844
B1     2819
B5     2752
B15    2235
B16    1534
B6     1438
B7     1413
B8     1341
B14    1072
B17     850
B9      558
B12     549
B18     541
B13     535
B19     285
B10     273
B11     247
Name: count, dtype: int64


Res
U    12681
S    11506
R     8077
Name: count, dtype: int64


Number of nulls for each string feature:
Branch    0
Res       0
dtype: int64
Percentage of nulls for each string feature:
Branch    0.0
Res       0.0
dtype: float64