In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

## Import Data
<p>
Import data from csv and print head of df
<p>
Data dictionary in repo.

In [ ]:
df = pd.read_csv('ISM647_ML1_data.csv')

df.head(10)

## Inspect the Data: Dataframe Info 

32264 records with 48 features

In [18]:
# print df info

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32264 entries, 0 to 32263
Data columns (total 48 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   AcctAge  30194 non-null  float64
 1   DDA      32264 non-null  int64
 2   DDABal   32264 non-null  float64
 3   CashBk   32264 non-null  int64
 4   Checks   32264 non-null  int64
 5   DirDep   32264 non-null  int64
 6   NSF      32264 non-null  int64
 7   NSFAmt   32264 non-null  float64
 8   Phone    28131 non-null  float64
 9   Teller   32264 non-null  int64
 10  Sav      32264 non-null  int64
 11  SavBal   32264 non-null  float64
 12  ATM      32264 non-null  int64
 13  ATMAmt   32264 non-null  float64
 14  POS      28131 non-null  float64
 15  POSAmt   28131 non-null  float64
 16  CD       32264 non-null  int64
 17  CDBal    32264 non-null  int64
 18  IRA      32264 non-null  int64
 19  IRABal   32264 non-null  float64
 20  LOC      32264 non-null  int64
 21  LOCBal   32264 non-null  float64
 22  ILS      32264 non-null  int64
 23  ILSBal   32264 non-null  float64
 24  MM       32264 non-null  int64
 25  MMBal    32264 non-null  float64
 26  MMCred   32264 non-null  int64
 27  MTG      32264 non-null  int64
 28  MTGBal   32264 non-null  float64
 29  CC       28131 non-null  float64
 30  CCBal    28131 non-null  float64
 31  CCPurc   28131 non-null  float64
 32  SDB      32264 non-null  int64
 33  Income   26482 non-null  float64
 34  HMOwn    26731 non-null  float64
 35  LORes    26482 non-null  float64
 36  HMVal    26482 non-null  float64
 37  Age      25907 non-null  float64
 38  CRScore  31557 non-null  float64
 39  Moved    32264 non-null  int64
 40  InArea   32264 non-null  int64
 41  Ins      32264 non-null  int64
 42  Branch   32264 non-null  object
 43  Res      32264 non-null  object
 44  Dep      32264 non-null  int64
 45  DepAmt   32264 non-null  float64
 46  Inv      28131 non-null  float64
 47  InvBal   28131 non-null  float64
dtypes: float64(25), int64(21), object(2)
memory usage: 11.8+ MB

## Inspect the Data: Nulls
<p>
Look for features with a high number of null values and consider how to address.
<p>
Removed rows with missing values. They represented only 12% of the total

In [31]:
# print number of missing values per feature. filter to only those with missing values

missing_values = df.isnull().sum()
missing_values = missing_values[missing_values > 0]

# add column for percent of total missing values for each feature
missing_values = missing_values.to_frame()
missing_values.columns = ['missing_count']
missing_values['percent_missing'] = missing_values['missing_count'] / df.shape[0]

# print missing values per feature to inspect
print(missing_values)

         missing_count  percent_missing
AcctAge           2070         0.064158
Phone             4133         0.128099
POS               4133         0.128099
POSAmt            4133         0.128099
CC                4133         0.128099
CCBal             4133         0.128099
CCPurc            4133         0.128099
Income            5782         0.179209
HMOwn             5533         0.171491
LORes             5782         0.179209
HMVal             5782         0.179209
Age               6357         0.197031
CRScore            707         0.021913
Inv               4133         0.128099
InvBal            4133         0.128099

In [47]:
# create a dataframe with rows from features that have missing values

missing_df = df[df.isnull().any(axis=1)]

# print head of missing_df

missing_df.head(50)

,AcctAge,DDA,DDABal,CashBk,Checks,DirDep,NSF,NSFAmt,Phone,Teller,...,CRScore,Moved,InArea,Ins,Branch,Res,Dep,DepAmt,Inv,InvBal
8,0.8,1,190.03,0,1,0,1,5.65,NaN,0,...,642.0,0,1,0,B14,S,3,880.25,NaN,NaN
10,3.5,1,32812.98,0,2,0,0,0.00,0.0,1,...,620.0,0,1,1,B2,U,2,1984.75,0.0,0.0
12,14.3,1,1226.90,0,12,0,0,0.00,NaN,2,...,711.0,0,1,0,B19,R,3,2321.80,NaN,NaN
13,1.6,1,257.13,0,14,0,1,60.25,NaN,1,...,732.0,0,1,0,B15,U,5,3408.35,NaN,NaN
14,NaN,1,375.62,0,0,1,0,0.00,0.0,0,...,662.0,0,1,0,B16,R,1,778.34,0.0,0.0
17,NaN,1,797.87,0,2,0,0,0.00,NaN,0,...,668.0,0,1,1,B19,S,2,1208.80,NaN,NaN
18,5.3,0,0.00,0,0,0,0,0.00,NaN,0,...,688.0,0,1,1,B19,R,0,0.00,NaN,NaN
20,1.3,1,295.51,1,2,0,0,0.00,4.0,1,...,580.0,0,1,0,B2,U,4,1231.82,0.0,0.0
21,13.0,1,9644.48,0,4,1,0,0.00,0.0,1,...,605.0,0,1,0,B2,S,2,3536.46,0.0,0.0
23,9.0,1,1072.55,0,0,0,1,5.78,NaN,1,...,635.0,0,1,1,B15,R,1,590.25,NaN,NaN
24,3.7,1,105.42,0,2,0,0,0.00,NaN,4,...,641.0,0,1,0,B18,S,3,564.96,NaN,NaN
26,4.0,0,0.00,0,0,0,0,0.00,NaN,0,...,642.0,0,1,1,B14,U,0,0.00,NaN,NaN
31,NaN,1,998.25,0,4,1,0,0.00,0.0,1,...,626.0,0,1,1,B1,S,2,1471.81,0.0,0.0
32,3.7,1,1129.05,0,1,0,0,0.00,NaN,2,...,708.0,0,1,0,B15,U,0,0.00,NaN,NaN
36,1.5,0,0.00,0,0,0,0,0.00,NaN,0,...,693.0,0,0,0,B18,R,0,0.00,NaN,NaN
37,13.0,0,0.00,0,0,0,0,0.00,NaN,0,...,713.0,0,0,1,B15,S,0,0.00,NaN,NaN
40,NaN,0,0.00,0,0,0,0,0.00,0.0,0,...,656.0,0,1,1,B4,U,0,0.00,0.0,0.0
41,15.3,0,0.00,0,0,0,0,0.00,NaN,0,...,710.0,0,1,0,B15,S,0,0.00,NaN,NaN
42,5.4,0,0.00,0,0,0,0,0.00,NaN,0,...,726.0,0,1,0,B15,U,0,0.00,NaN,NaN
43,41.4,0,0.00,0,0,0,0,0.00,0.0,0,...,NaN,0,1,0,B2,S,0,0.00,0.0,0.0
44,6.3,1,1392.50,0,9,0,0,0.00,0.0,2,...,594.0,0,1,0,B2,S,2,877.09,0.0,0.0
51,NaN,1,1125.02,0,0,1,1,7.47,0.0,0,...,642.0,0,1,0,B2,S,2,945.24,0.0,0.0
56,0.3,1,573.40,0,1,0,0,0.00,0.0,0,...,719.0,0,1,0,B2,U,3,2023.27,0.0,0.0
61,2.8,1,1038.37,0,4,0,0,0.00,NaN,4,...,653.0,0,1,0,B15,S,3,2191.26,NaN,NaN
67,3.9,1,4079.23,0,5,1,0,0.00,0.0,0,...,619.0,0,1,0,B8,U,2,2260.33,0.0,0.0
69,4.3,0,0.00,0,0,0,0,0.00,NaN,0,...,644.0,0,1,0,B18,S,0,0.00,NaN,NaN
77,2.6,0,0.00,0,0,0,0,0.00,NaN,0,...,567.0,0,1,1,B15,U,0,0.00,NaN,NaN
79,5.8,1,1047.90,0,6,0,0,0.00,NaN,3,...,679.0,0,1,1,B18,U,3,4512.92,NaN,NaN
80,4.0,1,1522.22,0,12,1,0,0.00,2.0,1,...,605.0,0,1,0,B2,U,4,2507.57,0.0,0.0
82,3.8,1,731.07,0,2,0,1,4.48,NaN,0,...,588.0,0,1,1,B15,U,2,876.74,NaN,NaN
90,4.0,1,1734.85,0,4,0,0,0.00,0.0,0,...,643.0,0,1,0,B2,U,3,3007.20,0.0,0.0
93,3.6,1,882.75,0,13,0,0,0.00,0.0,6,...,665.0,0,1,1,B2,U,4,16475.20,0.0,0.0
94,8.4,0,0.00,0,0,0,0,0.00,0.0,0,...,625.0,0,1,1,B2,U,0,0.00,0.0,0.0
96,2.7,1,388.46,0,0,0,0,0.00,0.0,0,...,626.0,0,0,0,B2,S,0,0.00,0.0,0.0
98,5.6,1,627.61,0,6,1,0,0.00,0.0,0,...,650.0,0,1,1,B4,S,3,1081.50,0.0,0.0
99,NaN,1,49.21,0,0,0,0,0.00,0.0,0,...,662.0,0,1,0,B2,R,1,140.93,0.0,0.0
101,NaN,1,8025.94,0,3,1,0,0.00,0.0,6,...,672.0,0,1,1,B2,S,2,5567.27,0.0,0.0
103,3.3,0,0.00,0,0,0,0,0.00,NaN,0,...,624.0,0,0,1,B18,R,0,0.00,NaN,NaN
105,14.2,0,0.00,0,0,0,0,0.00,0.0,0,...,653.0,0,1,0,B2,R,0,0.00,0.0,0.0
106,4.2,1,10674.30,0,14,0,0,0.00,NaN,3,...,660.0,0,1,0,B15,R,2,3007.89,NaN,NaN
107,20.0,1,1479.28,0,3,1,0,0.00,0.0,5,...,NaN,0,1,1,B5,U,2,2336.79,0.0,0.0
110,NaN,1,1914.48,0,4,1,0,0.00,0.0,0,...,679.0,0,1,0,B4,S,2,1161.04,0.0,0.0
111,0.3,0,0.00,0,0,0,0,0.00,0.0,0,...,644.0,0,1,1,B2,S,0,0.00,0.0,0.0
112,0.9,1,11925.25,0,6,0,0,0.00,0.0,5,...,NaN,0,1,0,B17,R,1,13088.94,0.0,0.0
113,15.9,1,9565.05,0,0,0,0,0.00,0.0,4,...,716.0,0,1,1,B4,U,3,645.45,0.0,0.0
115,22.0,1,804.46,0,3,1,0,0.00,0.0,1,...,NaN,0,1,0,B1,S,3,4210.57,0.0,0.0
116,3.9,1,7035.96,0,8,1,0,0.00,NaN,2,...,684.0,0,1,0,B15,U,3,3291.13,NaN,NaN
123,3.9,1,1576.47,0,3,0,0,0.00,NaN,2,...,680.0,0,1,0,B14,U,2,1103.09,NaN,NaN
124,4.1,1,9099.38,0,3,1,0,0.00,NaN,3,...,697.0,0,1,0,B14,U,3,7318.90,NaN,NaN
127,3.7,1,2511.24,0,1,0,0,0.00,0.0,0,...,742.0,0,1,1,B3,S,1,670.51,0.0,0.0

## Inspect the Data: Variance
<p>
Look for features representing with a low variance and consider how to address.
<p>
4 features were type float and had variance of 0. From data dictionary, these features were actually categorical features stored as float. Changed to int.

In [45]:
# find variance for each numerical feature in dataframe
numerical_features = df.select_dtypes(include=[np.number])

# calculate variance for each numerical feature as an integer
variance = numerical_features.var().astype(int)

# select features with a variance of 0
variance = variance[variance == 0]

# add column for the data type of each feature
variance = variance.to_frame()
variance.columns = ['variance']
variance['data_type'] = df[variance.index].dtypes

# select features with a variance of 0 and type of float64
variance = variance[(variance['variance'] == 0) & (variance['data_type'] == 'float64')]

# print variance for each numerical feature
print(variance)

        variance data_type
CC             0   float64
CCPurc         0   float64
HMOwn          0   float64
Inv            0   float64

In [46]:
# in df, select features in variance dataframe and change their data type to int64
df[variance.index] = df[variance.index].astype('int64')

# print data type of the features in variance dataframe to confirm they have been changed
print(df[variance.index].dtypes)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer